:root {
    background-color: black;  
    display: flex;
    justify-content: center;

}

.calculatorOuterFrame {
    display: flex;
    border-radius: 10px;
    height: 560px;
    width: 410px;
    margin: 100px;
    background-color: darkgrey;
}

.displayMain {
    background-color:#322E2C;
    width: 390px;
    height: 120px;
    margin: 10px;
    margin-top: 20px;
    
    border: solid red 2px;
    
}

.display {
    width: 300px;
    height: 100px;

}

.buttonWrapper {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 280px;
    width: 390px;
    margin-top: 150px;
    border-radius: 15px;
    gap: 15px;
    
    
    
}

.number {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    height: 80px;
    width: 80px;
    background-color: #63615F;
    border-radius: 7px;
    border: solid #302C29 1px;
    color: white;
}

.bottomRow {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    width: 370px;
    height: 90px;
    padding: 10px
    
}

/* #zero {
    width: 140px;
} */

#equalSign {
    
}

.rightRowWrapper {
    display: flex;
    height: 200px;
    width: 50px;
}

.operatorButtons {
    background-color: #F2A33C;
}
